body{
	/*background_image:url{"img/fondo.jpg"}*/
	background:grey;
	
}

.header img
{
	width:10%;
}


.slider img
{
	width:100%;
}
.container
{
	border-radius:15px;
	background:#99FF33;
	width:100%;
	margin:auto;
}

.row
{
	display:inline;

	
}

.col
{
	display:inline-block;
	width:30%;
	
}

.col h2
{
	
}

.col img
{
	text-align:center;
}
.top
{
	
}



.menu
{
	float:right;
}

.menu li
{
	display:inline-block;
	margin-right:20px;
}

.menu a:hover
{
	text-decoration:underline;
	color:red;
	padding:10px;
	background-color:green;
}

.footer
{
	overflow:hidden;
}

.menufooter a:hover
{
	text-decoration:underline;
	color:blue;
	padding:15px;
	background-color:brown;
	float:right;
	display:inline;
	margin-right:20px;
}

